body{
    font-family: Arial, Helvetica, sans-serif;
}
header {
   
    background-color: white;
    box-shadow: 10%;
    border-bottom:black;
   
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    color: white;
    background-color: black;
    border: none;
    height: 20px;
    width: 90px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 10%;
   
}
ul{
    display: flex;
    align-items: center;
    font-size:10px;
    text-align: right;
   margin-right: 10px;

}
li{
    color: darkblu;
    font-size: 10px;
    list-style-type: none;
    text-transform: uppercase;
    padding: 5px;
    
}
.buka{
  
    border-radius: 50%;
    margin: 10px;
    width: 110px;
    height: 90px;
}
.ucw{
    padding: 25px;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.imgUCW{
    width: 35%;
    height: 40%;
    border-radius: 5%;
}
.texto{
   display: flex;
   flex-direction: column;
   justify-content: center;

}